/* Popup */
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.hidden {
  display: none;
}

.popup-box {
  background: #fff;
  color: #000;
  padding: 25px;
  border-radius: 10px;
  text-align: center;
  max-width: 300px;
}

.popup-box button {
  margin-top: 15px;
  padding: 10px 20px;
  background: #2E8B57;
  border: none;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
}
